<<<<<<< HEAD
body footer {
	background-color: #00FF00;
	height: 60px;
	width: 100%;
	bottom: 0;
	display: flex;
	position: fixed;
	text-align: center;
	justify-content: center;
	align-items: center;
	position: fixed;
=======
footer {
	background-color: #00FF00;
	height: 60px;
	width: 100% ;
	position: absolute;
	bottom: 0;
>>>>>>> 9ebfa297b5d0ee7c3ac2de5989164164285b5acf
}
